# Dados brutos (não versionar por tamanho)
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Sistema
.DS_Store
Thumbs.db
